*.bud
*.daily
*.cb2
*.fhd
*.log
*.chk
gsflow_sum.wbal
*.lst
/nsub/*.csv
/nsub/*.dat
gsflow.csv
*.out
*.out2
SRPW3_56e_GSFL_ani1.out.nhru
SRPW3_56e_GSFL_ani1.out.nhrucell
SRPW3_56e_GSFL_ani1.out.nssr
SRPW3_56e_GSFL_ani1.out.nreach
model_output_summary.txt
/output/*

*base_*

